* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  color: #fff;
  background: linear-gradient(168.44deg, #2E335A 1.62%, #1C1B33 95.72%);
}

.icon-button {
  border-radius: 50%;
  padding: .5rem;
  width: 50px;
  height: 50px;
}

.weather-card {
  width: 100%;
  height: 250px;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2.5rem;
}

.weather-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #5936B4 0%, #362A84 103.55%);
  clip-path: polygon(0% 37.965%, 0% 37.965%, 0.003% 32.294%, 0.026% 27.188%, 0.089% 22.617%, 0.212% 18.549%, 0.414% 14.954%, 0.715% 11.802%, 1.136% 9.061%, 1.696% 6.699%, 2.414% 4.688%, 3.312% 2.995%, 3.312% 2.995%, 4.358% 1.667%, 5.523% 0.751%, 6.826% 0.217%, 8.287% 0.033%, 9.927% 0.169%, 11.764% 0.593%, 13.82% 1.275%, 16.113% 2.184%, 18.664% 3.289%, 21.492% 4.559%, 90.03% 35.499%, 90.03% 35.499%, 91.395% 36.118%, 92.624% 36.693%, 93.726% 37.244%, 94.711% 37.792%, 95.585% 38.358%, 96.358% 38.962%, 97.038% 39.625%, 97.632% 40.367%, 98.151% 41.21%, 98.602% 42.173%, 98.602% 42.173%, 98.981% 43.248%, 99.284% 44.425%, 99.52% 45.725%, 99.698% 47.169%, 99.825% 48.776%, 99.911% 50.569%, 99.962% 52.566%, 99.989% 54.79%, 99.999% 57.26%, 100% 59.997%, 100% 74.857%, 100% 74.857%, 99.998% 78.239%, 99.985% 81.287%, 99.949% 84.024%, 99.879% 86.471%, 99.764% 88.652%, 99.593% 90.587%, 99.354% 92.299%, 99.035% 93.81%, 98.626% 95.142%, 98.116% 96.318%, 98.116% 96.318%, 97.514% 97.316%, 96.833% 98.115%, 96.059% 98.737%, 95.183% 99.205%, 94.193% 99.54%, 93.077% 99.764%, 91.825% 99.901%, 90.425% 99.971%, 88.865% 99.996%, 87.135% 100%, 12.865% 100%, 12.865% 100%, 11.135% 99.996%, 9.575% 99.971%, 8.175% 99.901%, 6.923% 99.764%, 5.807% 99.54%, 4.817% 99.205%, 3.941% 98.737%, 3.167% 98.115%, 2.486% 97.316%, 1.884% 96.318%, 1.884% 96.318%, 1.374% 95.142%, 0.965% 93.81%, 0.646% 92.299%, 0.407% 90.587%, 0.236% 88.652%, 0.121% 86.471%, 0.051% 84.024%, 0.015% 81.287%, 0.002% 78.239%, 0% 74.857%, 0% 37.965%);
}

.weather-card:hover {
  transform: translateY(-5px);
}

.weather-card .left-side,
.weather-card .right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.weather-card .left-side {
  align-items: flex-start;
  text-align: left;
}

.weather-card .left-side h3 {
  font-size: 4rem;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: 'SF Pro Display Regular';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.375px;
}

.weather-card .left-side p,
.weather-card .right-side p {
  font-family: 'SF Pro Text Regular';
  /* font-size: 0.8125rem; */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  letter-spacing: -0.078px;
}

.weather-card .left-side p.high-low {
  color: rgba(235, 235, 245, 0.60);
  line-height: inherit;
  margin-bottom: 18px;
}

.weather-card .right-side {
  align-items: flex-end;
  text-align: right;
}

.weather-card .right-side img {
  margin-top: -30px;
}

.weather-card .right-side p {
  margin-top: 10px;
  margin-right: 10px;
}

/* Responsive Styles */
@media (max-width: 576px) {
  .weather-card {
    padding: 20px;
    height: 200px;
  }

  .weather-card .left-side h3 {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .weather-card .left-side p,
  .weather-card .right-side p {
    font-size: 1rem;
  }

  .weather-card .right-side img {
    height: 100px;
    width: auto;
  }
}